/*@import 'reset';*/
@media only screen and (max-width: 1280px) and (min-width: 738px){
img {
    max-width: 100%;
    height: auto;

}
body {
    margin: 0 0;
    padding: 0 0;
    font-size: 14px;
    }
$width_container: 1200/1280*100%;
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: column; 
        width: 100%;
        background: #f2f2f2;
        align-items: center;
        z-index: -1001;
    }
    .banner__tagstring {
        display: flex;
    }
    .banner__title {
        display: flex;
    }
    .top-menu {
        display: flex;
        justify-content: space-around;
        background: white;
        width: $width_container;
        padding: 16px 0;
    }
    .top-menu__item {
        display: flex;
        justify-content: center;
        width: 20%;
       font-size: 14px; 
        font-family: 'PT Sans Caption', bold;
    }
    .top-menu__item--with-image {
        display: flex;
        justify-content: center;
        width: 20%;
    }
    .tingle {
        $width_elem: 135/1280*100%;
        $width_elem: 100%;
        
        position: absolute;
        width:$width_elem;
        background-image: url(images/mount.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        left: (100% -$width_elem) / 2;
        text-align: center;
        top: 0;
    }
    
    .banner {
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: $width_container;
        background-image: url(images/background_photo.jpg);
        background-size: cover;
        padding-top: 75px;
        padding-bottom: 0;
    }
    .banner-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .banner-header__subtitle {
       font-size: 20px;
       font-style: italic;
        color: #766357;
        margin-bottom: 48px;
        background-image: url(images/triangle-right.png);
    }
    .banner-header__subtitle:before {
        content: "-";

    }
    .problem {
       border: 1px solid blue; 
        width: 100%;
    }
    
    .enshtain {
        height: 46px;
        color: white;
        background: blue;
        background-image: url(images/bg-poster-mask.png) ;
        background-repeat: no-repeat;
        width: 100%;
        background-size: contain;
        border: 1px solid black;
    }
    
    .banner-header__subtitle:after {
        content: "-";
    }
    .banner-body {
        font-size: 450%;
        color: white;
        font-weight: bolder;
        margin-bottom: 35px;
    }
    .banner-footer {
       margin-bottom: 45px; 
       
    }
    .clip-svg {
        clip-path: url(#myClip);
    }
    
    }
@media only screen  and (max-width: 1000px) and (min-width: 700px) {
        .banner-header__title {
            font-size: 45px;
           font-weight: bold;
           padding:0; 
           color: white;
            background-repeat: no-repeat;
        }
}
@media only screen  and (max-width: 1280px) and (min-width: 1000px) {
        .banner-header__title  {
           font-size: 45px;
           color:#81b3d2;
           font-weight: bold;
           padding:0;
        }
}
