@media only screen and (max-width: 1280px) and (min-width: 738px){
img {
    max-width: 100%;
    max-height: auto;
}
$width_container: 1200/1280*100%;
    .page_wrap {
        display: flex;
        justify-content: center;
        flex-direction: column; 
        width: 100%;
        background: #f2f2f2;
    }
    .banner__tagstring {
        display: flex;
    }
    .banner__title {
        display: flex;
    }
    .top-menu {
        display: flex;
        justify-content: space-around;
        background: white;
        width: 100%;
        padding: 1.1rem;
        margin-top: -10px;
        border: 2px solid red;
    }
    .top-menu__item {
        display: flex;
        justify-content: center;
        width: 20%;
       font-size: 14px; 
        font-family: 'PT Sans Caption', bold;
    }
    .top-menu__item--with-image {
        display: flex;
        justify-content: center;
        width: 20%;
    }
    .tingle {
        $width_elem: 135/1280*100%;
        $width_elem: 100%;
        
        position: absolute;
        width:$width_elem;
        background-image: url(images/mount.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        left: (100% -$width_elem) / 2;
        text-align: center;
        top: 0;
    }
    .background-of-hat {
        position: absolute;
        width:$width_container; 
        top: 0;
        right: (100%-$width_container)/2;
        z-index: -1000;
    }
    .banner_title {

    }
}
